<footer>
  <div class="footer_top">
    <img style="width:{{ section.settings.logo_max_width }}pt" src="{{ section.settings.image | img_url : 'master' }}" alt="{{ section.settings.image.alt }}">
  </div>
  <div class="footer_bottom row">
    <div class="footer_left footer_menu_container col-sm-8 col-xs-12">
      <div class="footer_menu">
        {% if linklists[section.settings.footer_linklist].links.size > 0 %}
          <ul class="footer_linklist">
            {% for link in linklists[section.settings.footer_linklist].links %}
              <li class="footer_linklist-item">
                <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="footer_menu">
        {% if linklists[section.settings.footer_linklist_two].links.size > 0 %}
          <ul class="footer_linklist">
            {% for link in linklists[section.settings.footer_linklist_two].links %}
              <li class="footer_linklist-item">
                <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="footer_menu footer_menu_big">
        {% if linklists[section.settings.footer_linklist_three].links.size > 0 %}
          <ul class="footer_linklist">
            {% for link in linklists[section.settings.footer_linklist_three].links %}
              <li class="footer_linklist-item little-margin-top">
                <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %}>{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
    <div class="footer_right col-sm-4 col-xs-12">
      <div class="footer_newsletter">
        {% form 'customer' %}
          {%- if form.errors -%}
            <div class="form-message form-message--error">
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}
          {% if form.posted_successfully? %}
            <p class="form-message form-message--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
          {% else %}
            {% if section.settings.footer_newsletter_subheading != blank %}
              <div class="footer_subheading">{{ section.settings.footer_newsletter_subheading }}</div>
            {% endif %}
            <div class="input-group">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email"
                name="contact[email]"
                id="Email"
                class="input-group__field newsletter__input"
                value="{% if customer %}{{ customer.email }}{% endif %}"
                placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                {%- if form.errors -%}
                  aria-invalid="true"
                {%- endif -%}
                autocorrect="off"
                autocapitalize="off">
              <span class="input-group__btn">
                <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                  <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                </button>
              </span>
            </div>
          {% endif %}
        {% endform %}
        <div class="footer_social_link">
          <ul class="list--inline footer_social-icons">
            {% if settings.social_facebook_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_facebook_link | escape }}" aria-describedby="a11y-external-message">
                  {% include 'icon-facebook' %}
                  <span class="icon__fallback-text">Facebook</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_twitter_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_twitter_link | escape }}" aria-describedby="a11y-external-message">
                  {% include 'icon-twitter' %}
                  <span class="icon__fallback-text">Twitter</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_pinterest_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_pinterest_link | escape }}" aria-describedby="a11y-external-message">
                  {% include 'icon-pinterest' %}
                  <span class="icon__fallback-text">Pinterest</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_instagram_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_instagram_link | escape }}" aria-describedby="a11y-external-message">
                  {% include 'icon-instagram' %}
                  <span class="icon__fallback-text">Instagram</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_tumblr_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_tumblr_link | escape }}" aria-describedby="a11y-external-message">
                  {% include 'icon-tumblr' %}
                  <span class="icon__fallback-text">Tumblr</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": {
      "en": "Footer",
      "de": "Fußzeile",
      "fr": "Pied de page"
    },
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": {
          "en": "Primary menu",
          "de": "Hauptmenü",
          "fr": "Menu principal"
        },
        "default": "footer",
        "info": {
          "en": "This menu won't show dropdown items",
          "de": "Dieses Menü zeigt keine Dropdowns an",
          "fr": "Ce menu n'affichera pas les éléments des menus déroulants"
        }
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Footer Image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "label": "Largeur personnalisée du logo",
        "min": 50,
        "max": 450,
        "step": 5,
        "unit": "pt",
        "default": 100
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": {
          "en": "Additional menu",
          "de": "Extra Menü",
          "fr": "Menu supplémentaire"
        },
        "default": "main-menu",
        "info": {
          "en": "This menu won't show dropdown items",
          "de": "Dieses Menü zeigt keine Dropdowns an",
          "fr": "Ce menu n'affichera pas les éléments des menus déroulants"
        }
      },
      {
        "type": "link_list",
        "id": "footer_linklist_three",
        "label": {
          "en": "Additional menu",
          "de": "Extra Menü",
          "fr": "Menu supplémentaire"
        },
        "default": "main-menu",
        "info": {
          "en": "This menu won't show dropdown items",
          "de": "Dieses Menü zeigt keine Dropdowns an",
          "fr": "Ce menu n'affichera pas les éléments des menus déroulants"
        }
      },
      {
        "type": "richtext",
        "id": "footer_newsletter_subheading",
        "label": {
          "en": "Subheading",
          "de": "Unter-Überschrift",
          "fr": "Sous-titre"
        },
        "default": {
          "en": "<p>A short sentence describing what someone will receive by subscribing</p>",
          "de": "<p>Eine kurze Beschreibung zum Inhalt des Newsletters</p>",
          "fr": "<p>Petite phrase qui décrit ce qu'on reçoit en s'inscrivant</p>"
        }
      }
    ]
  }
{% endschema %}
