<section class="product-with-video">
  <div class="row">
    <div class="col-xs-12 col-sm-5 relative">
      <script>
      var temp_hover = "";
      </script>
      <img
      onmouseover="temp_hover = $(this).attr('src');$(this).attr('src', '{{ section.settings.image_hover | img_url : 'master' }}')"
      onmouseleave="$(this).attr('src', temp_hover)"
      class="" src="{{ section.settings.image | img_url : 'master' }}" alt="{{ section.settings.image.alt }}">
      <div class="absolute cta_container">
        <a href="{{ section.settings.link }}" class="cta">{{ section.settings.cta }}</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-7">
      <h3>{{ section.settings.title }}</h3>
      <div class="video-container-full">
        <i class="fas fa-times"></i>
        <video playsinline="">
          <source src="{{ section.settings.video }}" type="video/mp4">
        </video>
        <span class="video-button">
        	<svg class=" svg play" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="25" height="40" viewBox="0 0 25 40" enable-background="new 0 0 25 40" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.6 16.8L7 1.5C5.6 0.3 4 0.2 2.9 0.7 1.6 1.4 0.8 2.7 0.7 3.8l0 7.5v24h0c0 0.1 0 0.1 0 0.2 0 1.8 1.1 3.3 3.1 3.3 1.5 0 2.5-0.5 3.4-1.4l16.4-15.7C25.1 20.3 25.1 18.1 23.6 16.8z"></path></svg>
        </span>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Product With Video",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image du cta"
    },
    {
      "type": "image_picker",
      "id": "image_hover",
      "label": "Hover de l'image"
    },
    {
      "type": "text",
      "id": "cta",
      "label": "Call to action text",
      "default": "THE REVELIA"
    },
    {
      "type": "text",
      "id": "link",
      "label": "Call to action link",
      "default": "/collections/contactwear"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Titre de la vidéo",
      "default": "HOW DOES THE REVELIA WORK"
    },
    {
      "type": "text",
      "id": "video",
      "label": "Lien de la vidéo"
    }
  ],
  "presets": [
    {
      "name": "Product with video",
      "category": "Custom zerance"
    }
  ]
}
{% endschema %}
